@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.fit{
    width: fit-content;
}
.auto{
    width: auto;
}
.max{
    width: max-content;
}
.min{
    width: min-content;
}

.arrow{
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}

#error-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    background-color: red;
  } 